* {
  margin: 0px;
  padding: 0 px;
}

.main {
  margin: 50px;
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: row;
}

.b {
  background-color: black;
  height: 70px;
  width: 70px;
}

.w {
  background-color: white;
  height: 70px;
  width: 70px;
}

table {
  height: 456px;
  width: 800px;
}

table td {
  border: solid 0px;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: red;
}

tr:nth-child(even) {
  background-color: white;
}
